.page {
  margin: 0;
}
.page-wrapper {
  display:flex;
  justify-content: center;
}
.page-wrapper #main-content {
  width:100%;
  max-width: 1200px;
}
.col-span-2 {
  flex-grow: 1;
}
.col-span-10 {
  flex-grow: 10;
}
.inner-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main-nav ul li {
  display: inline;
  padding: 1em 2em;
}
.main-nav {
  float: right;
  margin-bottom: .5em;
  /*! border-bottom: 1px solid #222; */
}
.nav-wrapper {
  border-bottom: 1px solid #222;
  width: 100%;
}
.wrapper {
  padding: 0 .25em;
}
.nav-wrapper {
  background-color: green;
}
.flex-container {
  display: flex;
}
.vert-center {
  align-items: center;
}
.horz-center .floating-card {
  /*! align-self: center; */
  display: block;
  margin: 3em auto;
  padding: 1em 2em;
}
.floating-card.shadow {
  border: 1px solid #ddd;
  box-shadow: 0 3px 6px #ccc;
  padding: 0 1em 0 1em;
  width: 250px;
}
.round-corner {
  border-radius: 5px;
}
body {
  background-color:  #f1f1f1;
  /* height: 100vh; */
  overflow-x: hidden;
  overflow-y: scroll;
}
.floating-card {
  background-color: #fff;
}
.form-wrapper .form-body {
  margin-bottom: 1em;
}
.form-wrapper .form-body .input-container {
  margin-bottom: 1em;
}
.form-wrapper .form-footer {
  margin-top: 2em;
}
/*.page-wrapper {
  height: 100vh;
}*/
.form-header .login-title {
  text-align: center;
}
.cearfix {
  clear: both;
}
.nav-wrapper a {
  color: aliceblue;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: baseline;
}
.row .col {
  flex-grow: 1;
  margin: 0 1em;
  padding .5em
}
.form-wrapper .form-body .input-container input:not([type="checkbox"]), .form-wrapper .form-body .input-container select, .form-wrapper .form-body .input-container textarea {
  width: 100%;
}
.form-wrapper .form-body .input-container textarea {
  min-height: 30vh;
}
.title-wrapper {
  margin-left: 1em;
  margin-right: 1em;
}
.nicEdit-main {
  background-color: #fff;
}
.input-container.nic-editor-container div, .input-container.nid-editor-container .nicEdit-panelContain {
  background-color: #fff !important;
}
.form-subsection {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 3px 6px #333;
  padding: 0 2em;
}
